@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
  
/* h1 kodları */

h1{
    color:whitesmoke;
    font-size: 40px;
    margin: 20px;
}

h1>span{
    color: black; /*renk kodu*/
}

/* linklerin kodları */

.link{
    float: right;
    margin-right:20px;
    margin-top: -60px;
}

.link ul li{
    list-style: none;
    display: inline;
    margin: 0 12px;
}

.link a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
   
}

.link a:hover{
    color: black;
    text-decoration: underline;
}

/* section kodları */

section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
body section h2{
    font-size: 30px;
    color: white;
    text-shadow:0 0 20px #000;
}

h2 span{
    color: black;
}

section p{
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}

section a{
    color:black;
    background-color:#a8c9db;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    border: 3px solid #6aa5e4;
    margin: 5px;
    padding: 3px 10px;

}

section a:hover{
    color:white;
    
}
